# Use Google style with a few "small" tweeks to add more spacing
BasedOnStyle: Google
BreakBeforeBraces: Allman
IndentWidth: 4
AccessModifierOffset: -2
SeparateDefinitionBlocks: Always
BreakConstructorInitializers: BeforeColon
PackConstructorInitializers: CurrentLine
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: Never